.WeatherCard {
  max-width: 300px;
  min-width: 300px;
  color: seashell;
}

.WeatherCard p::first-letter {
  text-transform: capitalize;
}

.WeatherCard .card {
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
}

.WeatherCard .card .sunrise {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  border-radius: 10px;
  color: rgb(44, 44, 44);
}
.WeatherCard .card .day {
  background-image: linear-gradient(
    to top,
    rgb(177, 223, 247) 0%,
    #f2f9ff 100%
  );
  border-radius: 10px;
  color: rgb(44, 44, 44);
}
.WeatherCard .card .sunset {
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  border-radius: 10px;
}
.WeatherCard .card .night {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 10px;
}

.WeatherCard .card:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.WeatherCard ul {
  list-style: none;
  font-size: 15px;
  padding-left: 0;
  text-align: left;
}

.WeatherCard h5,
h6 {
  text-align: right;
}
