.WeatherCard {
  max-width: 300px;
  min-width: 300px;
  color: seashell;
}

.WeatherCard p::first-letter {
  text-transform: capitalize;
}

.WeatherCard .card {
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
}

.WeatherCard .card .sunrise {
  background-image: linear-gradient(
    to bottom,
    #1b80ac 0%,
    #7b5fac 15%,
    #8f6aae 20%,
    #a86aa4 30%,
    #cc6b8e 40%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
  border-radius: 10px;
  z-index: 0;
}
.WeatherCard .card .morning {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 10px;
  z-index: 0;
}
.WeatherCard .card .afternoon {
  background-image: linear-gradient(
    -225deg,
    #eaebd2 0%,
    #7ddaf1 20%,
    #87b0d9 100%
  );
  border-radius: 10px;
  color: rgb(255, 255, 255);
  z-index: 0;
}
.WeatherCard .card .sunset {
  background-image: linear-gradient(to bottom, #ed6ea0 0%, #ec8c69 100%);
  z-index: 0;
  border-radius: 10px;
}
.WeatherCard .card .night {
  background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
  border-radius: 10px;
  z-index: 0;
  border-radius: 10px;
}

.WeatherCard .card:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.WeatherCard ul {
  list-style: none;
  font-size: 15px;
  padding-left: 0;
  text-align: left;
}

.WeatherCard h5,
h6 {
  text-align: right;
}
